

*[role='grid'] {
  border-collapse: collapse;
  width: 100%;
  padding: 2rem;
  outline: 4px solid #dddbda;
}

*[role='gridcell'] {
  outline: 2px solid #dddbda;
  position: relative;
}

*[role='gridcell']:before {
  content: '';
  display: block;
  padding-top: 100%;
}
