

*[role='grid'] {
  border-collapse: collapse;
  width: 100%;
  padding: 2rem;
  outline: 4px solid #dddbda;
}

*[role='gridcell'] {
  outline: 2px solid #dddbda;
  position: relative;

}

*[role='gridcell']:before {
  display: block;
  width: 100px;
  height: 100px;
}

.gameboard {
  margin: 3rem;
  padding: 20;
}

img {
  display: block;
  margin: auto;
  width: 70%;
  padding: 5px;

}